<footer class="footer-wrap">
    <div class="link-bar">
        <a href="" class="link-bar">FAQ</a>
        <a href="/about" class="link-bar">ABOUT</a>
        <a href="" class="link-bar">CONTACT</a>

    </div>

    <div class="icon-bar">
        <i class="fab fa-facebook"></i>
        <i class="fab fa-instagram"></i>
        <i class="fab fa-twitter"></i>
    </div>
</footer>