<div class="main-container-about">
    <h1>About us</h1>
    <p>Yoga and meditation are two beautifull and ancestral practices.
        As yoga enthousiasts, our aim was to create a tool, that could help you
        find the nearest studio next to you !
        We hope you will enjoy the experience on our website. Please, let us know if you
        have any comment.

        Lots of love and zen,
        XX Team Meditapp.
    </p>

</div>