<div class="main-container-about">
    <h1 class="about-title">About us</h1>
    <p class="about-description">Yoga and meditation are two beautifull and ancestral practices.
        As yoga enthousiasts, our aim was to create a tool, that could help you
        find the nearest studio next to you !
        We hope you will enjoy the experience on our website. Please, let us know if you
        have any comment.
        </br>
        </br>Lots of love and zen,
        </br>
        </br>XX
        </br> Team Meditapp.
    </p>

</div>