<div class="home-container">
    <a class="main-link" href="/yoga"> YOGA</a><br>
    <a class="main-link" href="/meditation"> MEDITATION</a>
</div>

<section class="section-1">
    <div class="home-wrap">
        <div class="home-subsection">
            <h3 class="home-subtitle">FIND THE BEST STUDIOS IN PARIS</h3>
            <p class="home-subdescription">Start your zen journey and discover the best studios next to you. Either
                you're looking for a yoga or a
                meditation class, Meditapp lists every studios in Paris. </p>
        </div>
        <div class="home-subsection">
            <h3 class="home-subtitle">BE PART OF OUR COMMUNITY</h3>
            <p class="home-subdescription">Create an account et be a member of our MeditApp community. Check the reviews
                left by our members on every studio to know exactly what experience is waiting for you.</p>
        </div>
        <div class="home-subsection">
            <h3 class="home-subtitle">ADD INFORMATION AND REVIEWS</h3>
            <p class="home-subdescription">Share your experience with the other members by adding reviews on the studio
                you have visited. Your feeling is better than a hundred ratings.</p>
        </div>
    </div>
</section>