<div class="home-container">
    <a class="main-link" href="/studios">DISCOVER</a>
</div>

<section class="section-1">
    <div class="wrap">
        <div class="subsection">
            <div class="image-wrap"></div>
            <h3 class="subtitle">LES MEILLEURS STUDIOS VOUS OUVRENT LEURS PORTES</h3>
            <p class="sub-description">De la qualité des coachings, jusqu'à la décoration, tout est passé en revue.
                Accédez à une selection de lieux triés sur le volet. Pas de mauvaises surprises, que des adresses
                validées.</p>
        </div>
        <div class="subsection">
            <div class="image-wrap"></div>
            <h3 class="subtitle">DU VRAI CHOIX</h3>
            <p class="sub-description">De la méditation au Yoga Bikram en passant par un séance de Cryothérapie ou un
                massage : attention vous risquez d'y prendre goût.</p>
        </div>
        <div class="subsection">
            <div class="image-wrap"></div>
            <h3 class="subtitle">OÙ ET QUAND VOUS VOULEZ</h3>
            <p class="sub-description">Connectez vous et accédez aux meilleurs studios
                et centres de bien-être près de chez vous.</p>
        </div>
    </div>
</section>