<!DOCTYPE html>
<html lang="en">
<script></script>

<head>
    {{> head}}
    <style>
        #map {
            height: 500px;
            width: 50%;
        }
    </style>
</head>

<body>
    {{> navbar}}
    <div class="main-body">
        {{{body}}}
    </div>
    {{> footer}}
</body>


</html>