<!DOCTYPE html>
<html lang="en">

<head>
    {{> head}}
    <style>
        #map {
            height: 500px;
            width: 50%;
        }
    </style>
</head>

<body>
    {{> navbar}}
    {{{body}}}

</body>


</html>