<section class="cont-signup">
    <header class="form-header">
        <h1 class="form-title">BE ZEN AND SIGNUP</h1>
    </header>
    <form method="post" action="/signup" class="signup-form" id="form-user-signup">

        <label for="firstname" class="label-ref">Name</label> <br>
        <input name="name" id="firstname" type="text" class="input-signup" required>

        <label for="lastname" class="label-ref">Last Name</label> <br>
        <input name="lastname" id="lastname" type="text" class="input-signup" required>

        <label for="email" class="label-ref">Email</label> <br>
        <input name="email" id="email" type="email" class="input-signup" required>

        <label for="password" class="label-ref">Password</label> <br>
        <input name="password" id="password" type="password" class="input-signup" required>

        <button class="create-account-btn">Create Account</button>
    </form>
    <p class="form-sub-infos">Already have an account ? <a href="/signin" class="submit-signup">Sign In</a></p>
</section>