<p class="tip"></p>
<div class="cont">
    <div class="signin-form">
        <h2 class="welcome">Welcome back !</h2>
        <form method="post" action="/signin" id="form_user">
            <label for="email" class="label-ref-signin">Email</label>
            <input name="email" id="email" type="email" class="input" required>
            <label for="password" class="label-ref-signin">Password </label>
            <input name="password" id="password" type="password" class="input" required>

            <p class="forgot-pass">Forgot password?</p>
            <a href="/" type="button" class="submit">Sign In</a>
            <button type="button" class="fb-btn">Connect with <span>facebook</span></button>

        </form>
    </div>
    <div class="to-sign-up">
        <h2 class="new">New here ?</h2>
        <p class="discover">Sign up and discover our studios !</p>
        <div class="signImg"></div>
        <a href="/signup" type="button" class="signup-btn">Sign Up</a>
        <button type="button" class="fb-btn-up">Connect with <span>facebook</span></button>

    </div>

</div>