<div id="map"></div>
<div class="studio-wrapper">
  <div class="studio-container">
    <div class="studio-info">
      <div class="studio-info-header">
        <h1 class="studio-name">STUDIO NAME</h1> <i class="fas fa-heart"></i>
        <p class="studio-address">STUDIO ADDRESS</p>
      </div>


      <div class="flexed-item">
        <span class="fas fa-plus">Add a link</span>
        <input id="link-studio" type="text" name="link" value="ADD A LINK">
        <label class="model-edit" for="link"></label>
      </div>

      <div class="flexed-item">
        <span class="fas fa-plus">Add a review</span>
        <input id="review-studio" type="text" name="review" value="ADD A REVIEW">
        <label class="model-edit" for="review"></label>
      </div>
    </div>

    <div class="studio-image">

      <div class="studio-img-container">
        <img src="/images/yogaepisod.jpg" alt="studio-img-defaut" class="studio-img">
      </div>
      <span class="fas fa-plus">Add a picture</span>
    </div>
  </div>

  <div class="reviews-container">
    <p>Nom du user</p>
    <p>Review associé au studio</p>
  </div>
</div>