<div class="studio-wrapper">
  <div class="studio-container">
    <div class="studio-info">
      <div id="studio-info-header">
      </div>
      <i class="fas fa-heart"></i>

      <div class="studio-image">

        <div class="studio-img-container">
          <img src="/images/yogaepisod.jpg" alt="studio-img-defaut" class="studio-img">
        </div>
        <span class="fas fa-plus">Add a picture</span>
      </div>

      <div class="flexed-item">
        <span class="fas fa-plus">Add a link</span>
        <input id="link-studio" type="text" name="link" value="ADD A LINK">
        <label class="model-edit" for="link"></label>
      </div>

      <div class="flexed-item">
        <span class="fas fa-plus">Add a review</span>
        <input id="review-studio" type="text" name="review" value="ADD A REVIEW">
        <label class="model-edit" for="review"></label>
      </div>

    </div>


    <div id="map" data-mainAddress="{{user.mainAddress}}" data-otherAddress="{{user.otherAddress}}"> </div>


  </div>

  <div class="reviews-container">
    <h3>Reviews</h3>
    <p>Nom du user</p>
    <p>Review associé au studio</p>
  </div>
</div>