<div class="one-studio-container">
    <div class="studio-info">
        <div class="studio-info-header">
            <h1 class="studio-name">PLACE.NAME</h1>
            <p class="studio-address">PLACE.VACINITY ??</p>
            <a href="" class="button-primary a-link">Add to favorite <i class="fas fa-heart"></i></a>
        </div>
    </div>

    <div class="studio-img-container">
        <img src="PLACE.IMAGE ??" alt=" PLACE IMAGE ?" class="studio-img">
    </div>
</div>