<body>
    <div class="container-box">
        <div class="container-list">
            <h3 id="find">Find in the list</h3>
            <div id="results_list">
                <a id="results_list_2"></a>
            </div>
        </div>
        <div class="container-map">
            <h3 id="check"> Check on the map</h3>
            <div id="map" data-mainAddress="{{user.mainAddress}}" data-otherAddress="{{user.otherAddress}}"> </div>
        </div>
</body>