<body>
    <div class="container-box">
        <div class="container-list">
            <h3 id="find">Find in the list</h3>
            <div id="results_list">
            </div>
        </div>
        <div class="container-map">
            <h3 id="check"> Check on the map</h3>
            <div id="map"> </div>
        </div>

    </div>
</body>