*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
    background: #ededed;
}



.tip {
    font-size: 20px;
    margin: 40px auto 50px;
    text-align: center;
}

.cont {
    overflow: hidden;
    position: relative;
    height: 400px;
    margin: 0 auto 100px;
    background: #fff;
    display: flex;
    flex-direction: row;
    width: 750px;
    justify-content: space-around;
}

.form {
    position: relative;
    height: 100%;
    padding: 50px 120px 0 110px;
    width: 500px;
}

.welcome {
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.to-sign-up {
    margin-top: 50px;
    margin-right: 60px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 320px;
    background: url(../images/signin.png);
    background-size: cover;
}

.signImg {
    width: 200px;
    height: 30%;
    margin-left: 40px;

}

.discover {
    padding-left: 30px;
}


.new {
    margin-bottom: 0;
    padding-right: 20px;
    width: 100%;
    font-size: 26px;
    text-align: center;
}

.signup-btn {
    margin-top: 180px;
    margin-bottom: 12px;
    margin-left: 67px;
    color: #d4af7a;
    border: solid 1px #d4af7a;
    background: white;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    width: 180px;
    padding-left: 65px;
    text-decoration: none;
}

.fb-btn-up {

    border: 2px solid #d3dae9;
    color: #768cb6;
    width: 180px;
    margin-top: 8px;
    margin-left: 70px;
    margin-bottom: 2px;
    border-radius: 30px;
}

.fb-btn-up span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
}



.input {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding-bottom: 5px;
    font-size: 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.4);
    text-align: center;
    border-top: none;
    border-right: none;
    border-left: none;


}

.forgot-pass {
    margin-top: 15px;
    text-align: center;
    font-size: 12px;
    color: #cfcfcf;
}

.submit {
    margin-top: 180px;
    margin-bottom: 12px;
    color: white;
    border: solid 1px #d4af7a;
    background: #d4af7a;
    text-transform: uppercase;
    border-radius: 30px;
    font-size: 15px;
    cursor: pointer;
    width: 180px;
    padding-left: 65px;
    padding-right: 65px;
    text-decoration: none;
}

.fb-btn {
    border: 2px solid #d3dae9;
    color: #768cb6;
    border-radius: 30px;
    width: 180px;

}

.fb-btn span {
    font-weight: bold;
    color: darken(#768cb6, 20%);
}