.studio-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
}


.studio-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
    margin-bottom: 50px;
}

.studio-info {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.studio-name {
    font-size: 2.7rem;
    font-weight: 700;
}

.studio-address {
    font-size: 1.2rem;
}

.studio-image {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.studio-img {
    margin: 10px;
    max-width: 45vw;
    /* max-height: 600px; */
}

.reviews-container {
    height: 20vh;
}